<%- title "#{@user.name}" %>

<h3><%=@user.name%></h3>

<p>
  <%=@user.nickname%>
</p>

<p>
  <%=@user.email%>
</p>

<p>
  <img src="<%=@user.image_url%>" width="80" height="80"/>
</p>

<p>
  <a href="<%=users_path%>"> &#8592 Students</a>
</p>