<%- title "Attendances" %>
<% active_tab :attendances %>
<%= bootstrap_flash %>

<% if current_user.is_student? %>
<a class="btn btn-default pull-right" href="iam-here">
  <i class="fa fa-hand-o-up"></i>
  <b>I'm here</b>
</a>
<% end %>

<h3>Attendances</h3>

<% unless @attendances.blank? %>
<table class="table table-striped">
  <tr>
    <th>Picture</th>
    <th>Student name</th>
    <th>Seat</th>
    <th>Date</th>
  </tr>
  <% @attendances.each do |attendance|  %>
    <tr>
      <td style="vertical-align:middle"> 
        <a href="<%=user_path(attendance.user)%>"><img src="<%= attendance.user.image_url %>" width="80" height="80"/></a>
      </td>
      <td style="vertical-align:middle"> <%= link_to attendance.user.name, user_path(attendance.user) %> </td>
      <td style="vertical-align:middle"> <%= attendance.seat %> </td>
      <td style="vertical-align:middle"> <%= attendance.attended_on.to_formatted_s(:long_ordinal) %> </td>
    </tr>  
  <% end %>
</table>
<% else %>
  No attendance has been posted yet.
<% end %>