<%- title "Attendance" %>

<%= bootstrap_flash %>

<h3>Attendance</h3>
<p>Choose the quadrant where you are seating</p>

<%= form_for @attendance do |f| %>

<div class="seats">
  <% for seat_number in 1..4 do %>
    <div class="seat <%= 'seat-selected' if seat_number == @attendance.seat %>">
      <img src="<%= current_user.image_url %>" width="80" height="80"/>
    </div>
  <% end %>
</div>

<%= f.hidden_field :seat %>
<%= f.submit  :class=> "btn btn-primary", :value => "Save" %>

<% end %>

<%= javascript_include_tag "attendance_new" %>
